#game {
  display: flex;
  height: 100%;
}

#board {
  background-size: contain;
  border: 1px solid;
  display: grid;
  height: var(--board-height);
  margin: auto;
}

#piece-container {
  margin: auto 0;
  height: 90vh;
  overflow-y: scroll;
  padding: 0 0.5rem;
  width: fit-content;
}

.piece {
  display: flex;
  margin: 0.3rem;
}

#piece-container .piece-img {
  height: 100%;
  margin: auto;
  padding: 5%;
}

#piece-container .piece {
  cursor: pointer;
}

.square {
  background: white;
  opacity: 0.8;
}

.piece-img.square-piece-img {
  height: 100%;
}
