#game {
  display: flex;
  height: 100%;
}

#board {
  background-size: contain;
  border: 1px solid;
  display: grid;
  height: var(--board-height);
  margin: auto;
  opacity: .3;
}

#piece-container {
  margin: auto 0;
  max-height: 90vh;
  overflow-y: scroll;
  padding: 0 0.5rem;
  width: fit-content;
}

.piece {
  display: flex;
  margin: auto;
}

.piece-img {
  height: 90%;
  margin: auto;
}
