.setup-select {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.setup-select-options {
  display: flex;
  justify-content: space-around;
}

.thumbnail,
.piece-count-select-option {
  cursor: pointer;
  height: 100px;
  margin: 0 1rem;
}

.selected-thumbnail {
  border: 5px solid gold;
}
