#app {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

button {
  border: none;
  border-radius: 10px;
  font-size: large;
  padding: 0.3rem 0.6rem;
  width: fit-content;
}
